* {
	margin: 0;
	box-sizing: border-box;
}
body {
	color: rgb(2, 132, 192);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.navbar {
	padding: 0 2rem;

	background-color: rgba(159, 0, 207, 0.904);
}

.navbar a.navbar-brand {
	padding: 0;
	color: rgb(54, 54, 54);
}
